In [3]:
loan_costs = [500, 600, 200, 1000, 450]

In [4]:
len (loan_costs)

5

In [5]:
sum (loan_costs)

2750

In [8]:
Number_of_loans = len ( loan_costs)

In [20]:
print ("The total number of loans are", Number_of_loans)

The total number of loans are 5

In [22]:
print (f"there are {Number_of_loans} Number of Loans")

there are 5 Number of Loans

In [11]:
Total_loan = sum (loan_costs)

In [18]:
print (" The total loan is", Total_loan)

 The total loan is 2750

In [13]:
Average_loan = Total_loan / Number_of_loans

In [17]:
print (" The average loan is", Average_loan)

 The average loan is 550.0